body {
  font-size: 1.5em; }

.tabs {
  margin: 0;
  padding: 0;
  list-style: none; }
  .tabs .tab {
    display: inline;
    border: 2px solid gray;
    padding: .5em;
    background: whiteSmoke;
    font-size: 1.5rem;
    cursor: pointer; }
    .tabs .tab.is-active {
      border-color: pink;
      color: blue;
      cursor: default; }

.tab-panel {
  display: none; }
  .tab-panel.is-active {
    display: block; }
