body {
    font-size: 1.5em;
}

.tabs {
    margin: 0;
    padding: 0;
    list-style: none;
    
    .tab {
        display: inline;
        border: 2px solid gray;
        padding: .5em;
        background: whiteSmoke;
        font-size: 1.5rem;
        cursor: pointer;
        
        &.is-active {
            border-color: pink;
            color: blue;
            cursor: default;
        }
    }
}

.tab-panel {
    display: none;
    
    &.is-active {
        display: block;
    }
}
